
  body {background-color: rgb(18, 6, 71);}
   /* // styles applied to body tag */

  h1 {color: red; text-align: center; }
   /* // styles applied to h1 tag */

   
  h3 {color: white;}
  /* // styles applied to h2 tag */

  p {color: white; text-align: center; }
   /* // styles applied to p tag */

   #wrapper{
       width:500px;
       height:200px;
       background: rgb(18, 6, 71);
       margin: 0 auto;
       text-align: center;
   }
   .box{
    width:180px;
    height:150px;
   
    display: inline-block;
    }
    .mbox{
        width:100px;
        height:150px;
    
        display: inline-block;
        }
    
    #one{
        background: rgb(18, 6, 71);
        margin: 0 auto;
        text-align: center;
        }
        #two{
            background: rgb(18, 6, 71);
            margin: 0 auto;
            text-align: center;
            }
            #middle{
                background: rgb(18, 6, 71);
                }